.wishlist-section{
  min-height: 90vh;
}

.wishlist-container{
  min-width: 60vw;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.wishlist-container .save{
  color: var(--danger-300);
}

.products{
  padding: 1rem;
  grid-template-columns: repeat(auto-fit , minmax(19rem ,1fr));
  max-width: 100vw;
  grid-gap: 1rem;

}

