@import url("https://nothing-ui-library.netlify.app/styles/index.css");


.signup-container , .login-container, .logout-container{

  padding: 2rem;
  gap: 3rem;
  flex-wrap: wrap;
  min-height: 90vh;
}

.logout-container{
  gap: 1rem;
}

.form-controls{
  max-width: 30rem;
}

.aside-image{
 max-width: 25rem;
 height: 25rem;
}

@media  screen and (max-width:500px) {
  .aside-image{
    max-width: 15rem;
    max-height: 15rem;
  }

  .signup-container{
    gap: 1rem;
  }

  .logout-container h2{
    font-size: 1rem;
  }
}

.btn{
  width: 100%;
}

.signup-container .link, .login-container .link {
  color: var(--black);
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.password-mgmt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

.checkbox{
  justify-content: flex-start;
  padding: 0.4rem 0;
  font-size: 0.9rem;
}

.logout-container .img-container{
  max-width: 30rem;
}

.img-container img{
  border-radius: 0.8rem;
  box-shadow: 4px 6px 8px 3px var(--box-shadow-color);
}
