.cart-section{
  min-height: 90vh;
}

.cart-container{
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.price-details {
  padding: 1rem;
  min-width: 20rem;
  transition: all 0.3s;
  border-radius: 8px;
  box-shadow: 2px 4px 8px 6px var(--box-shadow-color);
  position: sticky;
  top: 15vh;
}

@media screen and (max-width:1050px) {
  .price-details{
    top: 20vh;
  }
}

.price-details section {
  justify-content: space-between;
}

.price-details section input {
  padding: 0;
  height: auto;
  outline: none;
  border-radius: 4px;
}

.price-details .btn {
  margin: 0;
  padding: 4px 8px;
  font-size: 0.8rem;
}

.price {
  font-family: Arial, Helvetica, sans-serif;
}

.qty-input {
  text-align: center;
}

.product.horizontal-card{
  min-width: 20rem;
}

.product:hover {
  box-shadow: 2px 4px 4px 2px var(--box-shadow-color);
}

@media screen and (max-width: 800px) {
  .product.horizontal-card{
    min-width: 21rem;
  }

  

  .cart-container {
    flex-wrap: wrap-reverse;
    justify-content: center;
    transition: all 0.3s ease-in;
  }

  .price-details {
    font-size: 0.8rem;
    min-width: 18rem;
    position: static;
  }

  .price-details .btn {
    font-size: 0.7rem;
  }

  .price-details section input {
    width: 6rem;
  }
}
