.main-section{
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.filter-section{
  width: 18vw;
  min-width: 15rem;
  border-right: 1px solid var(--box-shadow-color);
  position: sticky;
  top: 10vh;
  left: 0;
  overflow: auto;
  height: 90vh;
  padding: 1rem;
}

.filter-section div{
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.clear-btn{
  padding: 0;
  margin: 0;
}

.filters-applied{
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.products-list{
  padding: 1rem;
  max-width: 80vw;
  justify-content: flex-start;
  align-items: center;
}

.products-section{
  justify-content:center;
  align-items: flex-start;
  gap: 3rem;
}

.product{
  margin: 1rem;
}

.product:hover{
  box-shadow: 2px 4px 4px 2px var(--box-shadow-color);
}

.products-container{
  max-width: 80vw;
  grid-template-columns: repeat(auto-fit , minmax(18rem, 1fr));
}

.chip {
  justify-content: space-around;
  align-items: center;
  padding: 2px 8px;
  background-color: #f0f2f5;
  margin: 1rem 0.5rem;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 2px var(--box-shadow-color);
}

.chip:hover {
  transform: scale(1.01);
}

.close-icon {
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.3rem;
}

.close-icon:hover {
  color: var(--red-300);
}

.vertical-card.saved .corner-btns .save{
  color: var(--red-300);
}

.card-image{
  width: 100%;
  height: 15rem;
}

@media screen and (max-width:600px) {
  .filters-applied{
    font-size: 0.7rem;
    gap: 0.3rem;
  }
}

@media screen and (max-width:800px) {
  .filter-section{
    display: none;
  }
}

@media screen and (max-width:1050px) {
  .filter-section{
    height: 85vh;
    min-width: 12rem;
  }
}