
.filter-section{
  width: 18rem;
  min-width: 15rem;
  border-right: 1px solid var(--box-shadow-color);
  top: 10vh;
  overflow: auto;
  height: 90vh;
}

.filter-section div{
  justify-content: space-between;
  width: 100%;
}

.logout-btn{
    display: none;
}

.user-icon{
  margin: 0;
  padding: 0;
}

.user-icon:hover .logout-btn{
  display: block;
  top: 3rem;
  background-color: aliceblue;
  color: black;
  padding: 4px 8px;
  font-size: 1rem;
  border-radius: 1rem;
}

.clear-btn{
  padding: 0;
  margin: 0;
}

#price-filter{
  width: 100%;
}

.filters-applied{
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.products-list{
  max-width: 80vw;
  justify-content: flex-start;
  align-items: center;
}

.products-section{
  justify-content:center;
  align-items: flex-start;
}

.product:hover{
  box-shadow: 2px 4px 4px 2px var(--box-shadow-color);
}

.action-btn.secondary:hover{
  background-color: var(--light-300);
}

.products-container{
  max-width: 80vw;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit , minmax(18rem, 1fr));
}

.chip {
  justify-content: space-around;
  align-items: center;
  padding: 2px 8px;
  background-color: var(--light-300);
  margin: 1rem 0.5rem;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 2px var(--box-shadow-color);
}

.chip:hover {
  transform: scale(1.01);
}

.close-icon {
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.3rem;
}

.close-icon:hover {
  color: var(--danger-300);
}

.vertical-card.saved .corner-btns .save{
  color: var(--danger-300);
}

.card-image{
  width: 100%;
  height: 15rem;
}

.card-action-btns{
  padding: 0 8px 0px 8px;
}


#filter-toggle[type="checkbox"]{
  -webkit-appearance: none;
  display: none;
}
.filter-btn{
  display: none;
}

@media screen and (max-width:850px) {
  
  .filter-section{
    border: none;
   display: none;
   width: 100%;
  }

  .filter-btn{
    z-index: 1;
    display: block;
    position: fixed;
    bottom: 1rem;
    right: auto;
    left: auto;
    font-size: 1.1rem;
    background-color: var(--all-white);
  }
  .close-icon{
    font-size: 1rem;
  }
  
.hide{
  display: none;
  transform: all 0.3s ease-out;
}

.show{
  transform: all 0.3s ease-out;
  display: block;
}

}
