@import url("https://nothing-ui-library.netlify.app/styles/index.css");
@import url("./Header/header.css");
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}
 a {
   text-decoration: none;
   color: black;
  }
 li {
   list-style: none;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  linear-gradient(0deg, rgb(106, 238, 255) 0%, rgb(0, 174, 197) 100%);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(93, 223, 255);
  }

  main{
    flex-grow: 1;
  }

  /* Footer Styling */
  .footer{
    position: relative;
    clear: both;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    background:var(--primary-500);
    padding: 0.5rem 0;
  }

  .footer a{
    color: var(--dark-900);
  }

  .socials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .social_links{
    gap: 3rem;
  }

  .heart{
    color: red;
  }
  