@import url("https://nothing-ui-library.netlify.app/styles/index.css");
@import url("./Header/header.css");
:root{
  --footer-color: #a5f3fc;
  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-1: #6aeeff;
  --scrollbar-thumb-2: #00aec5;
  --scrollbar-hover:#5ddfff;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}
 a {
   text-decoration: none;
   color: var(--black);
  }
 ol li {
   list-style: none;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  linear-gradient(0deg, var(--scrollbar-thumb-1) 0%, var(--scrollbar-thumb-2) 100%);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
  }

  main{
    flex-grow: 1;
  }

  /* Footer Styling */
  .footer{
    position: relative;
    clear: both;
    width: 100%;
    height: 5rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    background:var(--footer-color);
    padding: 0.5rem 0;
  }

  .footer a{
    color: var(--dark-900);
  }

  .socials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .social_links{
    gap: 3rem;
  }

  footer li{
    list-style: none;
  }

  .heart{
    color: var(--danger-600);
  }

  @media screen and (max-width:768px) {
    .footer{
      height: 3rem;
      font-size: 0.8rem;
    }
  }
  